.app{
  display: grid;
  grid-template-rows: 150px auto;

}



.app_main{
  display: flex;
  justify-content: center;
  align-items: start;
  justify-content: space-evenly;
  padding: 20px 8%;
  border-bottom: 2px solid #ebebeb;
  margin-bottom: 20px;
}

.task_column{
  width: 33.33%;
  margin: 20px;
}